.multi-column {
  column-count: 5;
  column-width: 200px;
}

.flex-demo {
  max-width: 600px;
  display: flex;
  height: 400px;
  font-size: 2rem;
  color: white;
  flex-wrap: wrap;
}

.child {
  width: 200px;
  height: 100px;
  background-color: blue;
}

/* responsive img */
.sample-img {
  max-width: 600px;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: clamp(2rem, 10vw, 5rem);
  color: green;
}
